.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  background-color: var(--second-color);
  color: var(--main-color);
  transition: all .3s ease-out;
}

.card img {
  width: 100%;
  height: auto;
}

.card figcaption {
  padding: 1rem;
}

.filter { /* Ocultar elementos de la vista sin removerlos de documento */
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  order: 1;
}