.dark-theme {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: 1vw;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all .3s ease-out;
}

.dark-theme:hover {
  background-color: var(--second-color);
  color: var(--light-color);
}

.dark-theme .hidden {
  display: none;
}