/* **********     Curso JavaScript: 81. DOM: Ejercicios Prácticos | Menú de Hamburguesa - #jonmircha     ********** */
.menu_hamburguesa {
  position: fixed;
  bottom: 1vh;
  right: 1vw;
  background-color: var(--main-color);
  color: var(--second-color);
  width: 4rem;
  height: 4rem;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}